#!/bin/sh
set -e


# app settings
TIMEOUT=${TIMEOUT-60}
APP_USER=<%=user%>
APP_NAME=<%=application%>
APP_ROOT=<%=current_path%>
ENV=<%=environment%>
PID=<%=unicorn_pid %>
CMD="bundle exec unicorn -c <%= unicorn_config %> -D -E $ENV"

action="$1"
set -u

OLD_PID="$PID.oldbin"

cd $APP_ROOT || exit 1

sig () {
test -s "$PID" && kill -$1 `cat $PID`
}

oldsig () {
test -s $OLD_PID && kill -$1 `cat $OLD_PID`
}

run () {
if [ "$(id -un)" = "$APP_USER" ]; then
eval $1
else
#если у каждого приложения свой пользователь
su -c "$1" - $APP_USER
fi
}

case $action in
start)
sig 0 && echo >&2 "Already running" && exit 0
run "$CMD"
;;
stop)
sig QUIT && exit 0
echo >&2 "Not running"
;;
force-stop)
sig TERM && exit 0
echo >&2 "Not running"
;;
restart|reload)
sig HUP && echo reloaded OK && exit 0
echo >&2 "Couldn't reload, starting '$CMD' instead"
run "$CMD"
;;
upgrade)
if sig USR2 && sleep 2 && sig 0 && oldsig QUIT
then
n=$TIMEOUT
while test -s $OLD_PID && test $n -ge 0
do
printf '.' && sleep 1 && n=$(( $n - 1 ))
done
echo

if test $n -lt 0 && test -s $OLD_PID
then
echo >&2 "$OLD_PID still exists after $TIMEOUT seconds"
exit 1
fi
exit 0
fi
echo >&2 "Couldn't upgrade, starting '$CMD' instead"
run "$CMD"
;;
reopen-logs)
sig USR1
;;
*)
echo >&2 "Usage: $0 <start|stop|restart|upgrade|force-stop|reopen-logs>"
exit 1
;;
esac

