worker_processes <%= fetch :unicorn_workers%>

working_directory '<%= fetch :current_path %>'

# listen on both a Unix domain socket and a TCP port,
# we use a shorter backlog for quicker failover when busy
listen '<%= fetch :unicorn_socket%>', :backlog => 64
#listen 8080, :tcp_nopush => true

# nuke workers after 30 seconds instead of 60 seconds (the default)
timeout 30

pid <%= fetch :unicorn_pid %>

stderr_path '<%= fetch :unicorn_log %>'
stdout_path '<%= fetch :unicorn_log %>'

