<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  <span id='author'>Created by <%= @ticket.user.email %></span>

  <small>Created by <%= @ticket.user.email %></small>
  <%= render @ticket.state if @ticket.state %>

  <%= simple_format(@ticket.description) %>
  <div id='tags'><%= render @ticket.tags %></div>
<span id='watchers'>
<strong>Watchers:</strong>
  <%= @ticket.watchers.map(&:email).to_sentence %>
</span>
<span id='watcher'>
<%= toggle_watching_button %>
</span>

  <% if @ticket.assets.exists? %>
      <h3>Attached Files</h3>

      <div class="assets">
        <% @ticket.assets.each do |asset| %>
            <p>
              <%= link_to File.basename(asset.asset.path), file_path(asset) %>
            </p>
            <p>
              <small><%= number_to_human_size(asset.asset.size) %></small>
            </p>
        <% end %>

      </div>
  <% end %>

</div>
<%= authorized?("edit tickets", @project) do %>
    <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
<% end %>
<% authorized?("delete tickets", @project) do %>
    <%= link_to "Delete Ticket", [@project, @ticket], method: :delete,
                data: {confirm: "Are you sure you want to delete this ticket?"} %>
<% end %>

<h3>Comments</h3>
<div id='comments'>
  <% if @ticket.comments.exists? %>
      <%= render @ticket.comments.select(&:persisted?) %>
  <% else %>
      There are no comments for this ticket.
  <% end %>



</div>
<%= render "comments/form" %>
