<% title(@project.name, "Projects") %>

<h2><%= @project.name %></h2>
<% admins_only do %>
<%= link_to "Edit Project", edit_project_path(@project) %>
<%= link_to "Delete Project",
            project_path(@project),
            method: :delete,
            data: { confirm:
                            "Are you sure you want to delete this project?"
            } %>
<% end %>
<% authorized?(:"create tickets", @project) do %>
    <%= link_to "New Ticket", new_project_ticket_path(@project) %>
<% end %>

<%= form_tag search_project_tickets_path(@project),
             :method => :get do %>
    <%= label_tag "search" %>
    <%= text_field_tag "search", params[:search] %>
    <%= submit_tag "Search" %>
<% end %>

<ul id='tickets'>
  <% @tickets.each do |ticket| %>
      <li>
        <%= render ticket.state if ticket.state %>
        #<%= ticket.id %> - <%= link_to ticket.title, [@project, ticket] %>
      </li>

<% end %>
</ul>
