<%= fields_for @ticket do |f| %>
    <p>
      <%= f.fields_for :assets, child_index: number do |asset| %>
        <p>
          <%= asset.label :asset, "File ##{number += 1}" %>
          <%= asset.file_field :asset %>
        </p>
    <% end %>
    </p>
<% end %>
