<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
        <%= yield(:title) %>
    <% else %>
        Ticketee
    <% end %>
  </title>

  <%= stylesheet_link_tag "application", media: "all" %>
  <style>
      <% for state in @states %>
      .state_ <%= state.name.parameterize %> {
          background: <%= state.background %>;
          color: <%= state.color %>;
      }

      <% end %>
  </style>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
   <%= link_to 'Home', root_path %>
    <% if current_user %>
        <% admins_only do %>
            <%= link_to "Admin", admin_root_path %>
        <% end %>
        Signed in as <%= link_to current_user.email, user_path(current_user) %>
        <%= link_to "Sign out", signout_path, method: :delete %>
    <% end %>
  </ul>
</nav>

<% flash.each do |key, value| %>
    <div class='flash' id='<%= key %>'>
      <%= value %>
    </div>
<% end %>

<%= yield %>

</body>
</html>
